.desktop-container {
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-pane {
  background-color: #f6f6f8;
  height: 100%;
  flex: 1;
}

.left-pane-text {
  margin-top: 7%;
  margin-left: 7%;
}

.right-pane {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.right-pane-footer {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}



.sign-in {
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
}

.right-pane-third-auth {
  height: 30%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #757575;
  text-align: center;
}

.third-auth-child {
  margin-top: 3%;
  border: solid 1.5px #c4c4c4;
  border-radius: 5px;
}

.right-pane-sign-in {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sign-in {
  font-size: 20px;
  color: #333333;
  margin-bottom: 3%;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}

.desktop-form {
  height: 45%;
}

.form-field {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.email-textbox,
.password-textbox {
  height: 40px;
  width: 33vw;
  font-size: 12px;
  padding-left: 5px;
  border: solid 1.5px #c4c4c4;
  border-radius: 5px;
}

.forgot-pass {
  font-size: 14px;
  color: #bbbbbb;
}

.desktop-form {
  margin-left: 3vw;
}

.login-button {
  height: 40px;
  width: 20vw;
  font-size: large;
  border: solid 2px #f05a28;
  background-color: white;
  color: #f05a28;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 10vw;
}

.login-button:hover {
  background-color: #f05a28;
  color: white;
  font-weight: bold;
}

.sign-up {
  font-size: 16px;
  color: #f05a28;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 3%;
  margin-left: 7%;
}

.landing-image {
  margin-top: 7%;
  width: 80%;
  height: 50%;
}

.copyright {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  color: #757575;
}

.error-msg {
  font-size: 12px;
  color: red;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

/*
  CSS for line with text in middle
*/
.right-pane-seperator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #bbbbbb;
  color: #c4c4c4;
  line-height: 0.1em;
  margin-top: 12%;
  margin-bottom: 12%;
}

h2.right-pane-seperator span {
  background: #fff;
  padding: 0 10px;
  font-size: 12px;
}

.ssn {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.first-subtitle {
  color: #757575;
  font-size: 16px;
  font-weight: bold;
}

.second-subtitle {
  color: #333333;
  font-size: 34px;
  font-weight: bolder;
  margin-top: 15px;
}

.or-separator {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.or-hr {
  width: 15vw;
  margin-top: auto;
  margin-bottom: auto;
}

.or-hr,
.or-text {
  color: #757575;
}

@media (max-width: 768px) {
  .left-pane {
    display: none;
  }

  .email-textbox,
  .password-textbox {
    width: 72vw;
  }

  .email-textbox,
  .password-textbox,
  .forgot-pass {
    margin-left: 5vw;
  }

  .login-button {
    width: 40vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }

  .or-hr {
    width: 30vw;
  }
}